alloca.m4
arpa_inet_h.m4
eoverflow.m4
extensions.m4
float_h.m4
gnulib-common.m4
gnulib-tool.m4
include_next.m4
intmax_t.m4
inttypes_h.m4
longlong.m4
malloc.m4
size_max.m4
sockpfaf.m4
stdint.m4
stdint_h.m4
stdio_h.m4
stdlib_h.m4
strcase.m4
strings_h.m4
sys_socket_h.m4
unistd_h.m4
vasnprintf.m4
vasprintf.m4
wchar.m4
wchar_t.m4
wint_t.m4
xsize.m4
/00gnulib.m4
/errno_h.m4
/gnulib-comp.m4
/memchr.m4
/mmap-anon.m4
/multiarch.m4
/stddef_h.m4
/string_h.m4
/warn-on-use.m4
/argp.m4
/dirname.m4
/dos.m4
/double-slash-root.m4
/getopt.m4
/mempcpy.m4
/printf.m4
/rawmemchr.m4
/sleep.m4
/stdbool.m4
/strchrnul.m4
/strerror.m4
/strndup.m4
/strnlen.m4
/sysexits.m4
/vsnprintf.m4
/asm-underscore.m4
/safe-read.m4
/safe-write.m4
/ssize_t.m4
/wchar_h.m4
/write.m4
