Makefile
Makefile.in
*~
aclocal.m4
autom4te.cache
build-aux/*
config.cache
config.log
config.status
config.h
config.h.in
configure
libtool
lib/*
.libs
.deps
*.x
,*
*.la
*.lo
*.o
*.gcno
*.gcda
*.gcda.info
*.gcov
*.go
gmon.out
pre-inst-guile
stamp-h[0-9]
/guile-1.8/block-indexers.c
/guile-1.8/block-indexers.h
/guile-1.8/block-server.c
/guile-1.8/block-server.h
/guile-1.8/choppers.c
/guile-1.8/choppers.h
/guile-1.8/cipher.c
/guile-1.8/cipher.h
/guile-1.8/core.c
/guile-1.8/core.h
/guile-1.8/filters.c
/guile-1.8/filters.h
/guile-1.8/hash.c
/guile-1.8/hash.h
/guile-1.8/indexers.c
/guile-1.8/indexers.h
/guile-1.8/logs.c
/guile-1.8/logs.h
/guile-1.8/modules/chop/block-indexers.scm
/guile-1.8/modules/chop/block-server.scm
/guile-1.8/modules/chop/choppers.scm
/guile-1.8/modules/chop/cipher.scm
/guile-1.8/modules/chop/core.scm
/guile-1.8/modules/chop/filters.scm
/guile-1.8/modules/chop/hash.scm
/guile-1.8/modules/chop/indexers.scm
/guile-1.8/modules/chop/logs.scm
/guile-1.8/modules/chop/objects.scm
/guile-1.8/modules/chop/store-browsers.scm
/guile-1.8/modules/chop/store-stats.scm
/guile-1.8/modules/chop/stores.scm
/guile-1.8/modules/chop/streams.scm
/guile-1.8/objects.c
/guile-1.8/objects.h
/guile-1.8/store-browsers.c
/guile-1.8/store-browsers.h
/guile-1.8/store-stats.c
/guile-1.8/store-stats.h
/guile-1.8/stores.c
/guile-1.8/stores.h
/guile-1.8/streams.c
/guile-1.8/streams.h
/tests/features/chopper-anchor-based
/tests/features/filter-zip
/tests/features/stream-filtered
/tests/features/stream-indexing
/utils/chop-archiver
/utils/chop-block-server
/utils/chop-file
/utils/chop-openpgp-tool
/utils/chop-show-anchors
/utils/chop-show-similarities
/utils/chop-store-convert
/utils/chop-store-discover
/utils/chop-store-list
/src/errors.c
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/utils/chop-vcs
/tests/features/.dirstamp
/tests/interfaces/.dirstamp
/tests/features/base32
/tests/features/block-indexer-integrity
/doc/stamp-vti
/doc/version.texi
/.version
/GNUmakefile
/maint.mk
/guile2/objects.log
/guile2/test-suite.log
/guile2/block-indexers.log
/guile2/choppers.log
/guile2/cipher.log
/guile2/hash.log
/guile2/stores.log
/guile2/streams.log
/guile2/indexers.log
/guile2/chop/config.scm
/guile2/filters.log
/tests/interfaces/deserialize
/utils/chop-backup
/po/POTFILES
/po/stamp-po
/po/libchop.pot
