Makefile
Makefile.in
*~
aclocal.m4
autom4te.cache
build-aux/*
config.cache
config.log
config.status
config.h
config.h.in
configure
libtool
lib/*
.libs
.deps
*.x
,*
*.la
*.lo
*.o
pre-inst-guile
stamp-h[0-9]
/guile/block-indexers.c
/guile/block-indexers.h
/guile/block-server.c
/guile/block-server.h
/guile/choppers.c
/guile/choppers.h
/guile/cipher.c
/guile/cipher.h
/guile/core.c
/guile/core.h
/guile/filters.c
/guile/filters.h
/guile/hash.c
/guile/hash.h
/guile/indexers.c
/guile/indexers.h
/guile/logs.c
/guile/logs.h
/guile/modules/chop/block-indexers.scm
/guile/modules/chop/block-server.scm
/guile/modules/chop/choppers.scm
/guile/modules/chop/cipher.scm
/guile/modules/chop/core.scm
/guile/modules/chop/filters.scm
/guile/modules/chop/hash.scm
/guile/modules/chop/indexers.scm
/guile/modules/chop/logs.scm
/guile/modules/chop/objects.scm
/guile/modules/chop/store-browsers.scm
/guile/modules/chop/store-stats.scm
/guile/modules/chop/stores.scm
/guile/modules/chop/streams.scm
/guile/objects.c
/guile/objects.h
/guile/store-browsers.c
/guile/store-browsers.h
/guile/store-stats.c
/guile/store-stats.h
/guile/stores.c
/guile/stores.h
/guile/streams.c
/guile/streams.h
/tests/features/chopper-anchor-based
/tests/features/filter-zip
/tests/features/stream-filtered
/tests/features/stream-indexing
/utils/chop-archiver
/utils/chop-block-server
/utils/chop-file
/utils/chop-openpgp-tool
/utils/chop-show-anchors
/utils/chop-show-similarities
/utils/chop-store-convert
/utils/chop-store-discover
/utils/chop-store-list
/src/errors.c
